body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.containter{
	transition: all 300ms linear 0s;
}
nav{
	color: white;
	font-size: 20px;
	position:fixed;
    z-index: 1;
	display: flex;
	width: 100%;
	margin-top: 30px;
	background-color:#080808d4;
    padding: 15px;
}
.nav-item1{
	margin-left: 10%;
}
.nav-item2{
	margin-left: 14%;
}
.nav-item3,.nav-item4,.nav-item5,.btn{
	margin-left: 4%;
}
.btn a{
	text-decoration: none;
	color: white;
	border: solid white 2px;
	padding: 5px;
}
[class^=page]{
	margin: 0px;
	padding: 0px;
	z-index: -1;
}
.page1{
	background: url(../images/image1.jpg) no-repeat;	
	background-size:cover;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	position: absolute;
}
.p1sub,.p2sub{
	background-color: rgba(21,23,35,0.5) ;
	width: 37vw;
	margin-top: 35vh;
	margin-left: 5vw;
	padding: 10px; 
}
.page1 div,.page2 div{
	color: white;
}
.p1hd,.p2hd{
	font-size: 45px;
	text-transform: capitalize;
	padding-bottom: 10px;
}
.p1smtxt,.p2smtxt{
	font-size: 18px;
	width: 80%;
}

.p1btn button,.p2btn button{
	background-color: transparent;
	margin-top: 10px;
	color: white;
	border: solid white 2px;
	padding: 5px;
}
.page2{
	background: url(../images/image2.jpg) no-repeat;	
	background-size:cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	transform: translateY(100vh);
}
.p2left{
	
}